<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>

  <style>
    .valdr-message {
      display: none;
    }
    .has-error.dirty-blurred .valdr-message {
      display: inline;
      background: red;
    }
    .has-error.dirty-blurred input {
      background: red;
    }
    .has-error.dirty-blurred label {
      color: red;
    }
  </style>
</head>
<body ng-app="demoApp">

<div ng-controller="TestController">

  <h1>Message Demo</h1>

  <form name="demoForm2" novalidate>

    <div valdr-type="Person">

      <h4>Person</h4>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               ng-model="person.lastName">
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               ng-model="person.firstName"
               no-valdr-message>
        <span><em>Error message disabled for this field.</em></span>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number"
               id="age"
               name="age"
               ng-model="person.age">

      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender"
                name="gender"
                ng-options="gender as gender.label for gender in genders"
                ng-model="person.gender">
          <option value=""></option>
        </select>
      </div>

    </div>

  </form>

  <h3>constraints</h3>
  <pre>{{ constraints | json }}</pre>

</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="../js/valdr.min.js"></script>
<script src="../js/valdr-message.js"></script>
<script src="http://localhost:35729/livereload.js"></script>

<script>
  var demoApp = angular.module('demoApp', ['valdr']);

  demoApp.config(function(valdrProvider) {

// TODO PDE: add demo for custom templates and templateUrl
//    valdrMessageProvider.setTemplate('<span ng-if="violation" class="help-block">FEHLER: {{ violation.message }}</span>');
//    valdrMessageProvider
//            .setTemplateUrl('/demo/message/message-template.tpl.html');

    valdrProvider.addConstraints({
      'Person': {
        'lastName': {
          'required': {
            'message': 'Last name is required.'
          },
          'Size': {
            'min': 2,
            'max': 10,
            'message': 'Last name must be between 2 and 10 characters.'
          }
        },
        'firstName': {
          'size': {
            'min': 2,
            'max': 20,
            'message': 'First name must be between 2 and 20 characters.'
          }
        },
        'age': {
          'min': {
            value: '21',
            message: 'Person must be 21 years old.'
          }
        },
        'gender': {
          'required': {
            'message': 'Gender is required.'
          }
        }
      }
    });
  });

  demoApp.controller('TestController', function ($scope, valdr) {
    $scope.person = {};
    $scope.genders = [
      { label: 'Male', value: 1 },
      { label: 'Female', value: 2 }
    ];
    $scope.constraints = valdr.getConstraints();
  });
</script>
</body>
</html>
