<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
</head>
<body ng-app="demoApp">

<div ng-controller="TestController">

  <h1>Custom Validator Demo</h1>

  <form name="demoForm" novalidate>

    <div nca-form-type="Person">

      <div>
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               ng-model="person.lastName">
      </div>
      <pre>$valid {{ demoForm.lastName.$valid }}</pre>

      <div>
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               ng-model="person.firstName">
      </div>
      <pre>$valid {{ demoForm.firstName.$valid }}</pre>

    </div>

  </form>

  <pre>demoForm.$valid: {{ demoForm.$valid }}</pre>

  <h3>demoForm</h3>
  <pre>{{ demoForm | json }}</pre>

  <h3>validation rules</h3>
  <pre>{{ VALIDATION_RULES | json }}</pre>

</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/lodash/dist/lodash.js"></script>
<script src="js/angular-model-validation.js"></script>
<script src="http://localhost:35729/livereload.js"></script>

<script>
  var demoApp = angular.module('demoApp', ['ncaModelValidation']);

  demoApp.factory('customValidator', function (validationUtil) {
    return {
      name: 'CustomValidator',
      validate: function (config, value) {
        var valid = value === 'Hanueli';
        return validationUtil.result(valid, config.message);
      }
    };
  });

  demoApp.config(function(ncaValidatorProvider) {

    ncaValidatorProvider.addValidator('customValidator');

    ncaValidatorProvider.addValidationRules({
      'Person': {
        'lastName': {
          'Required': {
            'message': 'This field is required.'
          }
        },
        'firstName': {
          'CustomValidator': {
            'message': 'First name must be Hanueli.'
          }
        }
      }
    });

  });

  demoApp.controller('TestController', function ($scope, ncaValidator) {
    $scope.person = {};

    $scope.$watch(ncaValidator.getValidationRules, function (rules) {
      $scope.VALIDATION_RULES = rules;
    });
  });
</script>
</body>
</html>
