<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
</head>
<body ng-app="demoApp">

<div ng-controller="TestController">

  <h1>Simple Demo</h1>

  <form name="demoForm" novalidate>

    <div valdr-type="Person">

      <div>
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               ng-model="person.lastName">
      </div>
      <pre>$valid {{ demoForm.lastName.$valid }}</pre>

      <div>
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               ng-model="person.firstName">
      </div>
      <pre>$valid {{ demoForm.firstName.$valid }}</pre>

      <div valdr-type="Address">
        <label for="zipCode">Zip Code</label>
        <input type="text"
               id="zipCode"
               name="zipCode"
               ng-model="person.address.zipCode">
      </div>
      <pre>$valid {{ demoForm.zipCode.$valid }}</pre>
    </div>

  </form>

  <button ng-click="addAddressRules()">Add address rules</button>
  <pre>demoForm.$valid: {{ demoForm.$valid }}</pre>

  <h3>demoForm</h3>
  <pre>{{ demoForm | json }}</pre>

  <h3>validation rules</h3>
  <pre>{{ VALIDATION_RULES | json }}</pre>

</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="js/valdr.min.js"></script>
<script src="http://localhost:35729/livereload.js"></script>

<script>
  var demoApp = angular.module('demoApp', ['valdr']);


  var VALIDATION_RULES = {
    'Person': {
      'lastName': {
        'Size': {
          'min': 2,
          'max': 10,
          'message': 'Last name must be between 2 and 10 characters.'
        }
      },
      'firstName': {
        'Size': {
          'min': 2,
          'max': 20,
          'message': 'First name must be between 2 and 20 characters.'
        }
      }
    }
  };

  demoApp.config(function(valdrProvider) {
    valdrProvider.addValidationRules(VALIDATION_RULES);
  });

  demoApp.controller('TestController', function ($scope, valdr) {
    $scope.person = {};
    $scope.VALIDATION_RULES = VALIDATION_RULES;

    $scope.addAddressRules = function () {

      valdr.addValidationRules({
        'Address': {
          'zipCode': {
            'Required': {
              'message': 'Zip code is required.'
            }
          }
        }
      });
      $scope.VALIDATION_RULES = valdr.getValidationRules();
    };

  });
</script>
</body>
</html>
